# list

1 Create a list of 5 cities. Add a new city to the end.

In [3]:
cities = ["India","New York", "London", "Paris", "Tokyo"]
print("cities:",cities)

cities: ['India', 'New York', 'London', 'Paris', 'Tokyo']

In [46]:
cities = ["India","New York", "London", "Paris", "Tokyo"]
cities.append("sydey")
print("updated cities:",cities)

updated cities: ['India', 'New York', 'London', 'Paris', 'Tokyo', 'sydey']

2 Replace the second city with "Pune".

In [48]:
cities = ["India","New York", "London", "Paris", "Tokyo"]
cities[1] = "pune"
print("replace cities:",cities)

replace cities: ['India', 'pune', 'London', 'Paris', 'Tokyo']

3. Print all cities starting from the third one.

In [52]:
cities = ["India","New York", "London", "Paris", "Tokyo"]
print(cities[2::])

['London', 'Paris', 'Tokyo']

4. Count how many cities are in the list.

In [54]:
cities = ["India","New York", "London", "Paris", "Tokyo"]
print(len(cities))

5

# Tuple

5. Create a tuple of 3 programming languages.

In [45]:
language = ("python","java","R program")
print("language:",language )

language: ('python', 'java', 'R program')

6. Check if "Python" is in the tuple.

In [55]:
language = ("python","java","R program")
if "python" in language:
  print("yes, python is in the tupel")
else:
    print("no,python is not in the tupel")

yes, python is in the tupel

7 Print each language using a loop.

In [50]:
language = ("python","java","R program")
for item in language:
    print(item)

python
java
R program

8. Convert the tuple to a list and add "JavaScript".

In [90]:
language = ["python,java,R program"]
language.append("javaScript")
print("language:",language)

language: ['python,java,R program', 'javaScript']

# set

9. Create a set of 3 favorite colors.

In [30]:
favorite_colors= {"red, black, blue"}
print(favorite_colors)

{'red, black, blue'}

10. Add a new color to the set.

In [32]:
favorite_colors.add("aqua")
print(favorite_colors)

{'red, black, blue', 'aqua'}

11. Remove one color from the set.

In [60]:
favorite_colors = {"red", "black", "blue", "aqua"}
favorite_colors.remove("black")
print("Updated set:", favorite_colors)

Updated set: {'blue', 'aqua', 'red'}

12. Check if "blue" is present in the set.

In [25]:
favorite_colors = {"red", "black", "blue", "aqua"}
if "blue" in favorite_colors:
    print("yes, blue is present.")
else:
    print("NO, blue is not praesnt.")

yes, blue is present.

# Dictionary

13. Create a dictionary with product name, price, and quantity.

In [34]:
products = {"product name": "colgate", "price": 100, "quantity": 10}
print("product Details:", products)

product Details: {'product name': 'colgate', 'price': 100, 'quantity': 10}

14. Update the quantity to 5.

In [38]:
products = {"product name": "colgate", "price": 100, "quantity": 10}
products ["quantity"] = 5       
print("After updating quantity:", products)

After updating quantity: {'product name': 'colgate', 'price': 100, 'quantity': 5}

15. Print only the keys in the dictionary.

In [56]:
products = {"product name": "colgate", "price": 100, "quantity": 10}
print(products.keys())

dict_keys(['product name', 'price', 'quantity'])

16. Use a loop to print each key and value.

In [58]:
products = {"product name": "colgate", "price": 100, "quantity": 10}
for key,value in products.items():
    print(f"key:{key}, Value:{value}")

key:product name, Value:colgate
key:price, Value:100
key:quantity, Value:10