1. Convert a string to uppercase

        Input: "data science"
       Output: "DATA SCIENCE"

In [2]:
text = " data science "
print(text.upper())

 DATA SCIENCE

2. Find the length of the string "Hello World"

In [5]:
text = " Hello word "
print(len(text))

12

3. Ask the user to enter a number as a string and convert it to an integer. Add 10 and print the result.

In [1]:
num_str = input("enter a number:")
print(num_str)
num_int = int(num_str)
result = num_int + 10
print(f"The result is:{result}")

enter a number: 45

45
The result is:55

4. Extract the word "fun" from the string "Python is fun" using slicing.

In [22]:
s = "python is fun"
fun=s[-3:]
print(fun)

fun

5. Count how many words are in the string "Machine Learning is powerful" using split() and len()

In [3]:
text = "  Machine Learning is powerful  "
print(len(text.split()))

4

In [5]:
text = "  Machine Learning is powerful  "
len(text)

32

6. Remove leading and trailing spaces from the string "  Welcome  "

In [15]:
text = " welcome "
print(text.strip())

welcome

7. Check if the word "Data" is present in the string "Big Data Analytics"

In [31]:
msg = "Big Data Analytic"
print("Data" in msg)

True

8. Join the list ["AI", "ML", "DL"] into a single string with hyphens (-)

In [11]:
name_list=["AL","ML","DL"]
result= "-".join(name_list)
print(result)

AL-ML-DL

9. Replace the word "difficult" with "easy" in "Python is difficult"

In [9]:
s = "python is difficult"
s =s.replace("difficult","easy")
print(s)

python is easy

10. Find the maximum number from the list [10, 45, 3, 99, 23] using a built-in function

In [36]:
num = (10,45,3,99,23)
print(max(num))

99